<% layout('layouts/boilerplate') %> 
<%- include('layouts/navbar') %> 

    <h1><%= item.Name  %> </h1>
    <ul>
        <li><%= item.DamagePhys  %> </li>
        <li><%= item.Description  %> </li>
        <li><%= item.Icon.slice(3) %> </li>
        <img src="" alt="" srcset="https://garlandtools.org/files/icons/item/30446.png">
        <img src="" alt="" srcset="/src/ui/icon/030000/030000.png">
        <% for(let [key,value] of Object.entries(item)) {%> 
        <li>
                <%= key  %>: <%= value  %>
            
           <%  if(value == "[object Object]"){%>
           
            <% for(let d of Object.values(value)){%>

                 
                   <%= JSON.stringify(d)  %>   
                   <% }%>
                   <% }%>
    
        </li>
        <% }  %> 

    </ul>


