<% layout('layouts/boilerplate') %> 
<%- include('layouts/navbar') %> 

    <h1><%=  weapon.Name  %> </h1>
    <p> Damage: <%= weapon.DamagePhys  %> </p>
    <p>Description: <%= weapon.Description %> </p>
    <p>Icon path: <%= weapon.Icon  %> </p>
    <img src="" alt="" srcset="../src/ui/icon/003000/003000.png">
    <form action="/edit/<%= weapon.id %> ">
        <button class="btn btn-info">Update</button>
    </form>
    <form  action="/weapons/ <%= weapon.id %>?_method=DELETE " method="POST">
        
        <button  class="btn btn-danger">Delete</button>

    </form>
