<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Comment ID: <%= comment.id %></h1>
     <h2><%= comment.comment %> -  <%= comment.username %></h2>

        
     <h2 style="color: rgb(255, 251, 0)">Update</h2>
     <form method ="post" action="/comments/<%= comment.id %>?_method=PATCH">
        </section>
        <label for="comment">Comment text</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5"><%= comment.comment %> </textarea>
    </section>
    <button>Submit</button>
    <br>
    <a href="/comments">Back to comments</a>
    </form>
</body>
</html>