<%- include('partials/head') %> 
<%- include('partials/navbar') %> 

    <h1>Wine Page</h1>
    
   <% for(branch of branches){%>
    <h2><%= branch.name %></h2>
    <%for([key,value] of Object.entries(branch)){%>
            <ul>
                <li> <%=  key %>: <%=  value %></li> 
            </ul>
            <%}%>
            <%}%>

<h2><%#Object.keys(branches[1])%></h2>
</body>
</html>